@model IEnumerable<MiniProject.Library.Book>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.copies)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.author_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.copies)
        </td>
        <td>
            @Html.ActionLink("Edit", "BlockBook", new { id=item.ISBNNO }) 
            @*@Html.ActionLink("Details", "Details", new { id=item.ISBNNO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ISBNNO })*@
        </td>
    </tr>
}

</table>
